button{

    border:solid;
    border-color:#000000;
    border-radius: 10px;
    padding: 10px;
    width: 58px;
    color:#000000;
    background-color: #A9A9A9;
}

.igual{
    font-size:20px;
    border:solid;
    border-color:#000000;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    color:#000000;
    background-color: #A9A9A9;
}

#fondo{

    border:solid;
    border-color:#000000;
    border-radius: 10px;
    margin: 20 0 0 30;  
    padding: 20px;
    width: 250px;
    
    background-color: aqua;
}

#display{
    background-color: gainsboro;
    border:solid;
    border-color:#000000;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
}
